/* FACULTY BACKGROUND IMAGE */
.faculty-wrapper {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding: 60px 20px;

  background: url("../assets/faculty.jpeg") no-repeat center center/cover;
}

/* DARK OVERLAY */
.faculty-wrapper::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(8, 18, 40, 0.85); /* dark overlay */
  top: 0;
  left: 0;
  z-index: 1;
}

/* Keep content above overlay */
.faculty-container {
  width: 1100px;
  max-width: 95%;
  text-align: center;
  position: relative;
  z-index: 2;
}
.faculty-container h1 {
  color: gold;
  margin-bottom: 50px;
  font-size: 42px;
  text-shadow: 0 5px 20px rgba(0,0,0,0.7);
}

.faculty-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

.faculty-card {
  background: rgba(255, 255, 255, 0.08);
  padding: 40px;
  border-radius: 20px;
  backdrop-filter: blur(12px);
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.6);
  color: white;
  transition: 0.4s;
}

.faculty-card:hover {
  background: rgba(255, 215, 0, 0.15);
  transform: translateY(-8px);
}

.faculty-card h3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.faculty-card p {
  font-size: 14px;
  margin-bottom: 10px;
  color: #ddd;
}

.faculty-card span {
  color: gold;
  font-weight: 500;
}

.faculty-avatar {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: gold;
  color: #0a1a4f;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 28px;
  font-weight: bold;
  margin: 0 auto;
}

.faculty-card:hover {
  background: rgba(255, 215, 0, 0.2);
}
    